/* body {
  background-color: RocketSteel;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: 'Manrope', sans-serif;
}

#rocketlist-logo:hover {
  border-top: black 1px solid;
  transition: 0.7s;
  transform: rotate(90deg);
}
#rocketlist-rocket:hover {
  transition: 0.7s;
  transform: rotate(90deg);
}